<main>
   <section class="presention">
      <div class="introduction">
         <div class="intro_text">
            <h1>Laptop for the future</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, molestias?</p>
         </div>
         <div class="cta">
            <button class="cta_select">14 Inch</button>
            <button class="cta_add">Add To Cart</button>
         </div>
      </div>
      <div class="cover">
         <img src="assets/images/matebook.png" alt="matebook">
      </div>
   </section>

   <div class="laptop_select">
      <img src="assets/images/arrow-left.svg" alt="Arrow Left">
      <img src="assets/images/dot.svg" alt="Dot">
      <img src="assets/images/dot-full.svg" alt="Dot">
      <img src="assets/images/dot-full.svg" alt="Dot">
      <img src="assets/images/arrow-right.svg" alt="Arrow Right">
   </div>

   <img class="big_circle" src="assets/images/big-eclipse.svg" alt="Transparent Background">
   <img class="medium_circle" src="assets/images/mid-eclipse.svg" alt="Transparent Background">
   <img class="small_circle" src="assets/images/small-eclipse.svg" alt="Transparent Background">
</main>