{% extends "layouts/layout.njk" %}

{% block content %}

<header>
   <div class="logo_container">
      <img style="width: 30px; height: 30px;" src="assets/images/logo.png" alt="Logo">
      <h4 class="logo fw-400">Three dots</h4>
   </div>
   <nav>
      <ul class="nav_linkss">
         <li><a href="#" class="nav_links">Specs</a></li>
         <li><a href="#" class="nav_links">Products</a></li>
         <li><a href="#" class="nav_links">Contact</a></li>
      </ul>
   </nav>
   <div class="cart">
      <div class="cart_style">
      <img style="width: 20px;" src="assets/images/cart.png" alt="cart image">
   </div>
   </div>
</header>

{% include "sections/main-body.njk" %}


{% endblock %}